<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools And Ecosystem

In [2]:
# In This Notebook,Data Science Tools And Ecosystem Summarized

In [6]:
# some of the popular languages that data scientists use are
a = [2,4,5]
print(a)

[2, 4, 5]

In [7]:
# some of the commomly used libraries by the data scientists include:
# python
print("hello worlsd")

hello worlsd

In [19]:
# data science tools
from tabulate import tabulate

|:---|:-------------|:-----------|:------|:------|
| 1 | Sentence: 1  | They       | PRP   | O     |
| 2 | Sentence: 1  | marched    | VBD   | O     |

SyntaxError: invalid syntax (2957778992.py, line 4)

In [20]:
# Below are a few examples of evaluating arithmetic expressions in Python
2+4

6

In [22]:
 # This a simple arithmetic expression to mutiply then add integers
(3*5)+2

17

In [24]:
 # This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335